@font-face {
  font-family: Assistant-Reg;
  src: url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.eot");
  src: url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.eot?#iefix") format("embedded-opentype"), url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.woff2") format("woff2"), url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.woff") format("woff"), url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.ttf") format("truetype"), url("../font/Assistant-Reg/88e211ded7f38a7034c9c2cc3c3d8807.svg#Assistant") format("svg");
}

@font-face {
  font-family: Assistant-Bold;
  src: url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.eot");
  src: url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.eot?#iefix") format("embedded-opentype"), url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.woff2") format("woff2"), url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.woff") format("woff"), url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.ttf") format("truetype"), url("../font/Assistant-Bold/b15efb1cccf12da9d9996c2064265a5b.svg#Assistant") format("svg");
}

@font-face {
  font-family: Assistant-Light;
  src: url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.eot");
  src: url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.eot?#iefix") format("embedded-opentype"), url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.woff2") format("woff2"), url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.woff") format("woff"), url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.ttf") format("truetype"), url("../font/Assistant-Light/49720e4c68486cb89dcbea2f440c8fe1.svg#Assistant") format("svg");
}

@font-face {
  font-family: Proxima-Nov-Bold;
  src: url("../font/Proxima-Nova-Bold/72b6f2c9990bd3d37b8013a59ed78902.eot");
  src: url("../font/Proxima-Nova-Bold/72b6f2c9990bd3d37b8013a59ed78902.eot?#iefix") format("embedded-opentype"), url("../font/Proxima-Nova-Bold/72b6f2c9990bd3d37b8013a59ed78902.woff2") format("woff2"), url("../font/Proxima-Nova-Bold/72b6f2c9990bd3d37b8013a59ed78902.ttf") format("truetype");
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.app {
  background: url(../assets/leaves_left@3x.png), url(../assets/leaves_right@3x.png), url(../assets/fixed_bg_desk.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: -178px -16px, right -151px top, center;
  background-size: 356px 699px, 320px 678px, 100% 100%;
  background-attachment: scroll, scroll, fixed;
  padding: 20px 0;
  font-family: Assistant-Light;
}

@media screen and (max-width: 768px) {
  .app {
    background: url(../assets/leaves_left@3x.png), url(../assets/leaves_right@3x.png), url(../assets/fixed_bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -182px -16px, right -151px top, center;
    background-size: 356px 699px, 320px 678px, 100% 100%;
    background-attachment: scroll, scroll, fixed;
  }
}

@media screen and (max-width: 375px) {
  .app {
    background: url(../assets/leaves_left@3x.png), url(../assets/leaves_right@3x.png), url(../assets/fixed_bg.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: -171px 140px, 263px 173px, center;
    background-size: 273px 454px, 197px 351px, 100% 100%;
    background-attachment: scroll, scroll, fixed;
  }
}

.app h2 {
  color: #3A61A0;
  text-transform: uppercase;
  margin: 0;
  padding: 20px 0;
  font-family: Assistant-Bold;
}

.app-container {
  text-align: center;
}

@media screen and (max-width: 430px) {
  .app {
    overflow: hidden;
  }
}

.form {
  max-width: 344px;
  margin: auto;
}

.form-submit-button {
  margin-top: 18px;
  width: 100%;
  background: #7FB457;
  outline: none;
  border-radius: 29px;
  text-transform: uppercase;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-weight: bold;
  height: 58px;
  cursor: pointer;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.form-submit-button:hover {
  -webkit-box-shadow: 0 0 10px 0 #7FB457 inset, 0 0 10px 4px #7FB457;
          box-shadow: 0 0 10px 0 #7FB457 inset, 0 0 10px 4px #7FB457;
}

.form-submit-button:disabled {
  background: #9A9B9C;
  cursor: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button-group-quantity {
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 6px #FFFFFF29;
          box-shadow: 10px 10px 6px #FFFFFF29;
  background: #FFFFFF;
  border: 1px solid #9DA4BC;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-group-quantity input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  outline: transparent;
  border: 1px solid transparent;
  background: none;
  font-size: 25px;
  border-radius: 25px;
  color: #9A9B9C;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  cursor: pointer;
  height: 100%;
  font-family: Proxima-Nov-Bold;
}

.button-group-quantity input:hover:not([disabled]), .button-group-quantity input.active, .button-group-quantity input:focus {
  background: #3A61A0;
  color: #FFFFFF;
  font-family: Assistant-Reg;
  font-size: 30px;
  height: 46px;
  font-family: Proxima-Nov-Bold;
}

.button-group-agreement {
  border-radius: 25px;
  -webkit-box-shadow: 10px 10px 6px #FFFFFF29;
          box-shadow: 10px 10px 6px #FFFFFF29;
  background: #FFFFFF;
  border: 1px solid #9DA4BC;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-group-agreement input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  outline: transparent;
  border: 1px solid transparent;
  background: none;
  font-size: 16px;
  border-radius: 25px;
  color: #45516d;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  cursor: pointer;
  height: 100%;
  font-family: Assistant-Light;
}

.button-group-agreement input:hover:not([disabled]), .button-group-agreement input.active, .button-group-agreement input:focus {
  background: #3A61A0;
  color: #FFFFFF;
  font-family: Assistant-Reg;
  font-size: 16px;
  height: 100%;
  font-family: Assistant-Reg;
}

@media screen and (max-width: 300px) {
  .button-group-agreement input {
    font-size: 12px;
  }
  .button-group-agreement input:hover:not([disabled]), .button-group-agreement input.active, .button-group-agreement input:focus {
    font-size: 12px;
  }
}

.images-container {
  position: relative;
  height: 158px;
  z-index: 0;
  margin-top: 54px;
}

.images-container img {
  max-width: 215px;
  position: absolute;
  -webkit-animation: fadeIn 0.4s linear forwards;
  animation: fadeIn 0.4s linear forwards;
}

.images-container img:nth-child(1) {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  top: 15px;
}

.images-container img:nth-child(2) {
  left: -27px;
}

.images-container img:nth-child(3) {
  right: -27px;
}

.images-container img:nth-child(4) {
  max-width: 187px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: -35px;
  z-index: -1;
}

.images-container img:nth-child(5) {
  left: -45px;
  top: -60px;
  z-index: -2;
}

.images-container img:nth-child(6) {
  right: -45px;
  top: -60px;
  z-index: -2;
}

.images-container-stamp {
  max-width: 100px;
  position: absolute;
  left: 30px;
  top: -15px;
  z-index: 1;
}

.images-container-stamp-text {
  position: absolute;
  max-width: 55px;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  left: 47px;
  z-index: 1;
  top: 6px;
  font-family: Assistant-Bold;
}

.images-container .stamp-6 {
  -webkit-filter: invert(25%) sepia(39%) saturate(600%) hue-rotate(51deg) brightness(90%) contrast(82%);
          filter: invert(25%) sepia(39%) saturate(600%) hue-rotate(51deg) brightness(90%) contrast(82%);
}

.images-container .text-3 {
  color: #45516d;
}

.images-container .text-6 {
  color: #FFFFFF;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.accept-terms {
  text-align: left;
  margin-top: 15px;
  display: none;
  -webkit-animation: fadeIn 0.6s linear forwards;
  animation: fadeIn 0.6s linear forwards;
  background: rgba(255, 255, 255, 0.8);
  padding: 10px 0;
}

.accept-terms-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.accept-terms-checkbox {
  margin-right: 8px;
  width: 24px;
  height: 24px;
  border: 1px solid #9DA4BC;
  border-radius: 4px;
  accent-color: #3A61A0;
}

.accept-terms-label {
  color: #45516d;
  font-size: 18px;
}

.accept-terms-instructions {
  padding: 5px;
  color: #9A9B9C;
  font-size: 12px;
  font-weight: 300;
}

.accept-terms-instructions-link1, .accept-terms-instructions-link2 {
  color: #3A61A0;
  text-decoration: none;
}

.product-info {
  margin-top: 50px;
  font-size: 16px;
  color: #45516d;
  font-family: Assistant-Bold;
}

.product-info-price {
  color: #3A61A0;
  margin: 0;
}

.product-info-retail-price span {
  color: #E66349;
  text-decoration: line-through;
}

.product-info-instant-saving span {
  color: #7FB457;
}

.product-info-sub {
  text-transform: uppercase;
}

.product-info > div {
  margin-top: 4px;
}

.service-info {
  margin-top: 46px;
}

.service-info-group-1 {
  max-width: 344px;
  margin: auto;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.service-info-group-1 > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-info-group-1 img {
  max-width: 56px;
}

.service-info-group-1 p {
  color: #45516d;
  font-size: 14px;
  margin: 11px 0 0 0;
}

.service-info-group-2 {
  max-width: 344px;
  margin: 43px auto 0 auto;
  position: relative;
  height: 135px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.service-info-group-2 img {
  position: absolute;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
}

.service-info-group-2 img:nth-child(2) {
  top: 33px;
}

.service-info-group-2 h2 {
  position: absolute;
  color: inherit;
  left: 40%;
  top: 15%;
  margin: 0;
}

.service-info-group-2 span {
  position: absolute;
  margin: 0;
  font-size: 13.5px;
  top: 53%;
  left: 29%;
  font-weight: 300;
}

.service-info-group-3 {
  color: #7FB457;
  font-size: 18px;
  margin-top: 8px;
  font-weight: bold;
  padding: 0 25px;
}

.service-info-group-4 {
  color: #45516d;
  font-size: 18px;
  margin-top: 25px;
  padding: 0 25px;
}

.service-info-group-5 {
  color: #9A9B9C;
  font-size: 14px;
  margin-top: 25px;
}
/*# sourceMappingURL=styles.css.map */